$brandColor1: #007c7d;
$brandColor2: #e60012;
$brandColor3: #FEF6EB;

$color-r: #e60012;
$color-b: #222222;
$color-g: #007c7d;
$color-l-g: #51a9ab;
$color-brown: #caa06a;
$color-w: #ffffff;


$g-dark: #005455;
$g-brand: #007c7d;
$g-body: #13a2a9;
$g-m: #007c7d;
$g-light: #6bc9ce;

$y-light:#fff100;
