
div.feedback
    //時間相同，可以是list
    div( v-for="(logs,logskey) in indexDatas" , v-bind:key="logskey" )
        transition-staggered-fade
            div.feedback__box( v-show="showType == 'list' ||(log.logTime <= (currentTime + 0.5) && log.logTime >= (currentTime - 0.5))", v-for="(log,logkey) in logs", v-bind:key="logskey", v-bind:data-index="logkey")
                div.feedback__box__inner.clearfix
                    img.feedback__avater( v-bind:src="log.photo", v-bind:alt="log.name" )
                    div.feedback__content
                        div.feedback__info {{log.logTime | formatVideoTime }} {{log.name}}
                        div.feedback__msg {{log.content}} ----- {{logskey}}----{{logkey}}