@charset 'UTF-8';
// /* ----- IMPORT -----*/
// //1.utils
// @import "utils/_bemify.scss";//A set of Sass mixins to write well-structured, maintainable, idiomatic BEM-style .scss source:
// @import "utils/_variables.scss";
// @import "utils/_mixins.scss";
// @import "utils/_colors.scss";
// @import "utils/_grid.scss";
// @import "utils/_animation.scss";
// @import "utils/_animate.scss";
// @import "_sprite.scss";//Auto generator by gulp
// //2.vendors
// //3.base
@import "base/_reset.scss";
@import "base/_typography.scss";
// //4.layout
// @import "layout/_layout.scss";
// @import "layout/_nav.scss";
// //5.components
// @import "components/_load.scss"; //html 在 load.js 裡
// //6.pages
// //7.themes
body,
html {
    background: #eee;
    width: 100%;
}

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.feedback {
    &__avater {
        border-radius: 50%;
        height: 60px;
        width: 60px;
        float: left;
        img {
            width: 100%;
        }
        &--small {
            height: 60px;
            width: 60px;
        }
    }
    &__content {
        overflow: hidden;
        padding: 0 10px;
    }
    &__form {
        padding: 5px;
        vertical-align: middle;
        textarea {
            display: inline-block;
            padding: 10px;
        }
        button {
            display: inline-block;
        }
    }
    &__info {}
    &__box {
        border-radius: 10px;
        line-height: 1.5;
        overflow: hidden;
        &__inner {
            border-radius: 15px;
            background: #fff;
            box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3);
            padding: 10px;
            margin-bottom: 20px;
        }
    }
}

.video-player {
    $h: 15px;
    width: 1000px;
    margin: 0 auto;
    &__container {
        position: relative;
    }
    &__comment,
    &__feedback-display {
        // display: none;
    }
    &__feedback-display {
        position: absolute;
        width: 40%;
        top: 10px;
        left: 10px;
    }
    &__comment {
        // position: absolute;
        width: 100%;
        bottom: 10px;
        .feedback {
            margin: 20px auto;
            border-radius: 10px;
            padding: 10px;
            textarea {
                width: 60%;
                height: 50px;
                float: left;
                margin: 0 10px;
            }
            button {
                background: #00d194;
                border-radius: 15px;
                font-size: 18px;
                line-height: 24px;
                vertical-align: middle;
                float: left;
                width: 100px;
                padding: 5px;
                border: 0;
            }
        }
    }
    &__viewer {
        position: relative;
        text-align: center;
        background: #000;
        padding-right: 300px;
        video {
            display: inline-block;
            width: 49%;
            min-height: 600px;
            background: #000;
        }
    }
    &__loading {
        font-size: 28px;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        line-height: 100%;
        vertical-align: middle;
    }
    &__container {
        margin: 0 auto;
        position: relative;
    }
    &__timeline {
        background: #00583e;
        width: 100%;
        height: $h;
        position: relative;
        bottom: 0;
        left: 0;
        border-radius: 10px 0 0 10px;
        &__logs {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        &__log {
            box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3);
            width: 5px;
            height: $h;
            top: 0px;
            background: red;
            position: absolute;
        }
        &__dragable {
            width: 100%;
            height: $h;
            position: absolute;
            bottom: 0;
            z-index: 2;
        }
    }
    &__progress {
        box-sizing: border-box;
        background: #00d194;
        height: 100%;
        width: 0%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px 0 0 10px;
        border-right: 1px solid rgba(255, 255, 255, 0.75);
        cursor: pointer;
        z-index: 0;
    }
    &__slider {
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.3);
        height: 100%;
        width: 50%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px 0 0 10px;
        cursor: pointer;
        z-index: 1;
    }
    &__ctrl {
        font-size: 18px;
        margin: 5px 1px;
        border-radius: 15px;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        background: #00d194;
        text-align: center;
        padding: 5px;
        min-width: 100px;
    }
    &__time-display {
        min-width: 200px;
    }
    &__seek-time {
        font-size: 13px;
        text-align: center;
        position: absolute;
        bottom: 100%;
        right: 0;
        .tipinfo__content {
            background: rgba(0, 0, 0, 0.8);
            padding: 20px;
            border: 1px solid #fff;
            color: #fff;
            position: relative;
            left: 50%;
            bottom: 10px;
        }
    }
    &__volume__ctrls {
        display: inline-block;
        input {
            width: 100px;
        }
    }
}

.logs-list {
    background: #000;
    height: 600px;
    overflow-y: auto;
    width: 300px;
    position: absolute;
    right: 0px;
    top: 0;
    padding: 10px;
    box-sizing: border-box;
}
